.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Allow scrolling but hide the scrollbar */
body {
  overflow: scroll; /* Enables scrolling */
}

::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* Optional: For other browsers (non-webkit browsers), you can use the following */
html {
  -ms-overflow-style: none; /* Hides the scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides the scrollbar for Firefox */
}
